<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2026 Twarge LLC.</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>FiraCode-Light.ttf</string>
		<string>FiraCode-Regular.ttf</string>
		<string>FiraCode-Retina.ttf</string>
		<string>FiraCode-Medium.ttf</string>
		<string>FiraCode-SemiBold.ttf</string>
		<string>FiraCode-Bold.ttf</string>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Typeset Package</string>
			<key>CFBundleTypeIconFile</key>
			<string>TypesetPackageIcon.icns</string>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>TypesetPackageIcon-64.png</string>
				<string>TypesetPackageIcon-320.png</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.twarge.typeset.package</string>
				<!-- Legacy UTI from the app's earlier "Typset" name; machines
				     with an old install may still type .typeset folders as it. -->
				<string>com.twarge.typset.package</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Typst Source</string>
			<key>CFBundleTypeIconFile</key>
			<string>TypstSourceIcon.icns</string>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>TypstSourceIcon-64.png</string>
				<string>TypstSourceIcon-320.png</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.typst.source</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.directory</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Typeset Package</string>
			<key>UTTypeIconFile</key>
			<string>TypesetPackageIcon.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.twarge.typeset.package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>typeset</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Typeset Package File Drag Payload</string>
			<key>UTTypeIdentifier</key>
			<string>com.twarge.typeset.package-file-drag</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Typeset Package Folder Drag Payload</string>
			<key>UTTypeIdentifier</key>
			<string>com.twarge.typeset.package-folder-drag</string>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.directory</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Typeset Package (Legacy)</string>
			<key>UTTypeIconFile</key>
			<string>TypesetPackageIcon.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.twarge.typset.package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>typset</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Typst Source</string>
			<key>UTTypeIconFile</key>
			<string>TypstSourceIcon.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.typst.source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>typ</string>
				</array>
				<key>public.mime-type</key>
				<string>text/x-typst</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
